.MyServiceContainer {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Estilo para el contenedor de las tarjetas */
.conteinerCards {
    display: grid;
    /* Activa CSS Grid */
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas de igual ancho */
    gap: 50px;
    /* Espacio entre las tarjetas */
    width: 100%;
    /* Ancho completo del contenedor */
    max-width: 1200px;
    /* Limita el ancho máximo */
    margin: 0 auto;
    /* Centra el contenedor */
    padding: 20px;
    /* Espaciado interno */
    /*background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

/* Estilo para cada tarjeta */
.card {
    /*border: 1px solid #ddd;
    border-radius: 8px;*/
    width: 50rem;
    /* Fija el ancho de las tarjetas */
    max-width: 100%;
    /* Garantiza que no se desborde en pantallas más pequeñas */
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Efecto al pasar el mouse */
.card:hover {
    transform: translateY(-10px);
    /* Eleva la tarjeta ligeramente */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Sombra más pronunciada */
    border-color: #007bff;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.card-text {
    text-align: justify;
}

.iconService {
    font-size: 30px;
}